In [1]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from datetime import datetime

from IPython.core.display import HTML
import tba3102



display(HTML("<style>pre { white-space: pre !important; }</style>"))
tba3102.set_default_pandas_options(max_colwidth=300)

print('Text processing started at {}'.format(datetime.now()))

Text processing started at 2023-03-26 05:19:16.713763

In [2]:
df = pd.read_csv('../data/57000-books-with-cleaned-blurbs.csv', index_col=0)

tf = TfidfVectorizer(ngram_range=(1, 1), min_df=2)
tfidf_matrix = tf.fit_transform(df['Cleaned_Blurb'].array)
tfidf_matrix.shape

(18159, 50275)

In [3]:
doc_sim = cosine_similarity(tfidf_matrix)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df

          0         1         2         3         4      ...     18154     18155     18156     18157     18158
0      1.000000  0.000000  0.000000  0.019519  0.050120  ...  0.000000  0.010671  0.000000  0.006381  0.020758
1      0.000000  1.000000  0.000000  0.000000  0.000000  ...  0.000000  0.006679  0.000000  0.002863  0.001432
2      0.000000  0.000000  1.000000  0.000000  0.000000  ...  0.000000  0.004177  0.009379  0.000000  0.045856
3      0.019519  0.000000  0.000000  1.000000  0.014969  ...  0.019762  0.011640  0.007170  0.054990  0.003694
4      0.050120  0.000000  0.000000  0.014969  1.000000  ...  0.000000  0.003192  0.000000  0.017500  0.000000
...         ...       ...       ...       ...       ...  ...       ...       ...       ...       ...       ...
18154  0.000000  0.000000  0.000000  0.019762  0.000000  ...  1.000000  0.011801  0.016346  0.015046  0.013742
18155  0.010671  0.006679  0.004177  0.011640  0.003192  ...  0.011801  1.000000  0.000000  0.016379  0.050169
18156  0.000000  0.000000  0.009379  0.007170  0.000000  ...  0.016346  0.000000  1.000000  0.000000  0.012692
18157  0.006381  0.002863  0.000000  0.054990  0.017500  ...  0.015046  0.016379  0.000000  1.000000  0.036493
18158  0.020758  0.001432  0.045856  0.003694  0.000000  ...  0.013742  0.050169  0.012692  0.036493  1.000000

[18159 rows x 18159 columns]

In [4]:
print('Text processing ended at {}'.format(datetime.now()))

Text processing ended at 2023-03-26 05:19:23.606241