# TBA 3102 - Text Analytics
## Practical Lab 04 - Processing and Understanding Text I
Student: Nicky Ng <br>
GitHub User: [ahjimomo](https://github.com/ahjimomo) <br>
Student Number: A0194330L

# Question 1 - Data Preprocessing
## Libraries for question 1

In [1]:
import pandas as pd
import re

import warnings
warnings.filterwarnings("ignore")

## Question 1

In [2]:
## 1a
# Read csv
df = pd.read_csv('./data/1429_1.csv')
df.info() # 34,660 rows, 20 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34660 non-null  object
 1   name                  27900 non-null  object
 2   asins                 34658 non-null  object
 3   brand                 34660 non-null  object
 4   categories            34660 non-null  object
 5   keys                  34660 non-null  object
 6   manufacturer          34660 non-null  object
 7   reviews.date          34621 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      34660 non-null  object
 10  reviews.didPurchase   1 non-null      object
 11  reviews.doRecommend   34066 non-null  object
 12  reviews.id            1 non-null      float64
 13  reviews.numHelpful    34131 non-null  float64
 14  reviews.rating        34627 non-null  float64
 15  reviews.sourceURLs    34660 non-null  object
 16  reviews.text          34659 non-null  object
 17  reviews.title         34655 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      34658 non-null  object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [3]:
df.head()

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

In [15]:
# Select columns
reduced_df = df[['asins', 'name', 'brand', 'categories', 'reviews.doRecommend', 'reviews.numHelpful',
                'reviews.rating', 'reviews.text', 'reviews.title']]
reduced_df.info() #

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   asins                34658 non-null  object
 1   name                 27900 non-null  object
 2   brand                34660 non-null  object
 3   categories           34660 non-null  object
 4   reviews.doRecommend  34066 non-null  object
 5   reviews.numHelpful   34131 non-null  float64
 6   reviews.rating       34627 non-null  float64
 7   reviews.text         34659 non-null  object
 8   reviews.title        34655 non-null  object
dtypes: float64(2), object(7)
memory usage: 2.4+ MB

In [16]:
# Update data types
type_dict = {'asins': 'string',
            'name': 'string',
            'brand': 'string',
            'categories': 'string',
            'reviews.doRecommend': bool,
            'reviews.numHelpful': 'int64',
             'reviews.rating': 'int64',
            'reviews.text': 'string',
            'reviews.title': 'string'}

# Convert df types
reduced_df = reduced_df.astype(type_dict, errors = 'ignore')
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   asins                34658 non-null  string
 1   name                 27900 non-null  string
 2   brand                34660 non-null  string
 3   categories           34660 non-null  string
 4   reviews.doRecommend  34660 non-null  bool
 5   reviews.numHelpful   34131 non-null  float64
 6   reviews.rating       34627 non-null  float64
 7   reviews.text         34659 non-null  string
 8   reviews.title        34655 non-null  string
dtypes: bool(1), float64(2), string(6)
memory usage: 2.1 MB

In [24]:
## 1b
# Function to generate quality report
def gen_report(df):
    """
    A function to generate quality report of the dataframe for all features that returns information about observations, min and max values
    
    Arguments
    ----------
        - df: Dataframe where quality report to be generated is required
    
    Return
    ----------
        - quality_df: Dataframe of data quality report
    
    """
    # find datatype of each column
    data_types = pd.DataFrame(df.dtypes, columns = ['Data Type'])
    
    # count number of missing observations by column
    missing_data_counts = pd.DataFrame(df.isnull().sum(), columns = ['Missing Values'])

    # count number of present observations by column
    present_data_counts = pd.DataFrame(df.count(), columns = ['Present Values'])
    
    # count number of unique observations by column
    unique_value_counts = pd.DataFrame(columns=['Unique Values'])
    for v in list(df.columns.values):
        unique_value_counts.loc[v] = [df[v].nunique()]

    # find minimum value for each column
    minimum_values = pd.DataFrame(columns=['Minimum Values'])
    for v in list(df.columns.values):
        minimum_values.loc[v] = [df[v].min()]

    # find maximum value for each column
    maximum_values = pd.DataFrame(columns=['Maximum Values'])
    for v in list(df.columns.values):
        maximum_values.loc[v] = [df[v].max()]
        
    quality_df = pd.concat([present_data_counts, missing_data_counts, unique_value_counts, minimum_values, maximum_values], axis=1)
    return quality_df

In [25]:
quality_report = gen_report(reduced_df)
quality_report

,Present Values,Missing Values,Unique Values,Minimum Values,Maximum Values
asins,34658,2,41,B002Y27P3M,B01J4ORNHU
name,27900,6760,48,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",New Amazon Kindle Fire Hd 9w Powerfast Adapter...
brand,34660,0,6,Amazon,Amazon Fire Tv
categories,34660,0,41,"Amazon Device Accessories,Kindle Store,Kindle ...","mazon.co.uk,Amazon Devices"
reviews.doRecommend,34660,0,2,False,True
reviews.numHelpful,34131,529,97,0.0,814.0
reviews.rating,34627,33,5,1.0,5.0
reviews.text,34659,1,34659,"""Alexa"" Amazon Echo is the perfect personal as...",İt is cheap tablet option coming from amazon. ...
reviews.title,34655,5,19767,!!!!!!,Great for all streaming needs

In [26]:
# Remove all nas rows found except for `name` column
cols = ['asins', 'brand', 'categories', 'reviews.doRecommend', 'reviews.numHelpful',
                'reviews.rating', 'reviews.text', 'reviews.title']

# Create new df instead of using `inplace` in-case we did it incorrectly
nona_df = reduced_df.dropna(subset = cols)

# Check number of products/reviews left
nona_df.info() # 34,061

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34128 entries, 0 to 34633
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   asins                34128 non-null  string
 1   name                 27440 non-null  string
 2   brand                34128 non-null  string
 3   categories           34128 non-null  string
 4   reviews.doRecommend  34128 non-null  bool
 5   reviews.numHelpful   34128 non-null  float64
 6   reviews.rating       34128 non-null  float64
 7   reviews.text         34128 non-null  string
 8   reviews.title        34128 non-null  string
dtypes: bool(1), float64(2), string(6)
memory usage: 2.4 MB

In [27]:
# Generate new quality report with de-duplicated data
nona_report = gen_report(nona_df)
nona_report

,Present Values,Missing Values,Unique Values,Minimum Values,Maximum Values
asins,34128,0,34,B002Y27P6Y,B01J4ORNHU
name,27440,6688,48,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",New Amazon Kindle Fire Hd 9w Powerfast Adapter...
brand,34128,0,5,Amazon,Amazon Fire Tv
categories,34128,0,33,"Amazon Device Accessories,Kindle Store,Kindle ...","mazon.co.uk,Amazon Devices"
reviews.doRecommend,34128,0,2,False,True
reviews.numHelpful,34128,0,97,0.0,814.0
reviews.rating,34128,0,5,1.0,5.0
reviews.text,34128,0,34128,"""Alexa"" Amazon Echo is the perfect personal as...",İt is cheap tablet option coming from amazon. ...
reviews.title,34128,0,19515,!!!!!!,Great for all streaming needs

In [28]:
## 1c
# Number of unique brands & products (`asins`)
nona_df.asins.nunique()

34

In [29]:
# Count number products by brand as a count of reviews
grouped_reviews_df2 = nona_df.groupby(['asins', 'brand']).size().sort_values(ascending = False)

# Show top products
grouped_reviews_df2.head()

asins                  brand
B018Y229OU             Amazon            10966
B00L9EPT8O,B01E6AO69U  Amazon             6606
B00U3FPN4U             Amazon Fire Tv     5056
B00OQVZDJM             Amazon             3176
B01AHB9CN2             Amazon             2814
dtype: int64

In [30]:
# 1d
# Review product (asins) with highest number of review
top_product = nona_df[nona_df['asins'] == 'B018Y229OU']
top_product.head()

,asins,name,brand,categories,reviews.doRecommend,reviews.numHelpful,reviews.rating,reviews.text,reviews.title
3695,B018Y229OU,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",Amazon,"Fire Tablets,Tablets,Computers & Tablets,All T...",True,0.0,4.0,"Good basic tablet for checking email , web bro...",Good
3696,B018Y229OU,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",Amazon,"Fire Tablets,Tablets,Computers & Tablets,All T...",True,0.0,5.0,I love this tablet. It was a great buy. I woul...,Great tablet!
3697,B018Y229OU,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",Amazon,"Fire Tablets,Tablets,Computers & Tablets,All T...",True,0.0,5.0,"Brought my old tablet in to my local store, an...",Good tablet for a low price.
3698,B018Y229OU,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",Amazon,"Fire Tablets,Tablets,Computers & Tablets,All T...",True,0.0,4.0,Good Inexpensive tablet for someone that does ...,Good tablet for a beginner
3699,B018Y229OU,"Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes...",Amazon,"Fire Tablets,Tablets,Computers & Tablets,All T...",True,0.0,4.0,I got this for my niece. I would say this prod...,Great for kids

In [31]:
# Review unique names
print(top_product['name'].unique())

<StringArray>
[                                                                                'Fire Tablet, 7 Display, Wi-Fi, 8 GB - Includes Special Offers, Magenta',
                      'Kindle Oasis E-reader with Leather Charging Cover - Black, 6 High-Resolution Display (300 ppi), Wi-Fi - Includes Special Offers,,',
                                           'Amazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black,,,\r\nAmazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black,,,',
            'Amazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black,,,\r\nFire HD 8 Tablet with Alexa, 8 HD Display, 16 GB, Tangerine - with Special Offers",',
                                                                     'Fire HD 8 Tablet with Alexa, 8 HD Display, 16 GB, Tangerine - with Special Offers,',
 'Amazon Standing Protective Case for Fire HD 6 (4th Generation) - Black,,,\r\nAmazon Standing Protective Case for Fire HD 6 (4th Generation) - Black,,,',
             'Certified Refurbished Amazon Fire TV (Previous Generation - 1st),,,\r\nCertified Refurbished Amazon Fire TV (Previous Generation - 1st),,,',
                                                                              'Brand New Amazon Kindle Fire 16gb 7 Ips Display Tablet Wifi 16 Gb Blue,,,']
Length: 8, dtype: string

In [32]:
# Get the most used name with regex to capture name
top_product['name_only'] = top_product['name'].str.findall(r'^(.+?),|^(.+?)\(|^(.+?)[0-9]').str[0].apply(lambda a: a[0])

# Show the top 5 naming conventions for product
top_product['name_only'].value_counts().head()

Fire Tablet                                                               10751
Brand New Amazon Kindle Fire 16gb 7 Ips Display Tablet Wifi 16 Gb Blue      173
Amazon - Kindle Voyage - 4GB - Wi-Fi + 3G - Black                            26
Kindle Oasis E-reader with Leather Charging Cover - Black                     6
Fire HD 8 Tablet with Alexa                                                   6
Name: name_only, dtype: int64

In [35]:
# 1e
# Export filtered dataset with 9 columns as `q1.csv`
nona_df.to_csv('./data/q1.csv', index = False)