In [1]:
import pandas as pd

from nltk.corpus import wordnet as wn

from IPython.core.display import HTML
import tba3102



display(HTML("<style>pre { white-space: pre !important; }</style>"))
tba3102.set_default_pandas_options()

In [2]:
word = 'happy'
synsets = wn.synsets(word)

for synset in synsets:

    print('Homonyms and homographs: ', synset.name(),'-',synset.definition())

    for lemma in synset.lemmas():

        synonym = lemma.synset()
        print('Synonym: ', synonym.name())	

        for antonym in lemma.antonyms():

            print('Antonym: ', antonym.synset().name())

Homonyms and homographs:  happy.a.01 - enjoying or showing or marked by joy or pleasure
Synonym:  happy.a.01
Antonym:  unhappy.a.01
Homonyms and homographs:  felicitous.s.02 - marked by good fortune
Synonym:  felicitous.s.02
Synonym:  felicitous.s.02
Homonyms and homographs:  glad.s.02 - eagerly disposed to act or to be of service
Synonym:  glad.s.02
Synonym:  glad.s.02
Homonyms and homographs:  happy.s.04 - well expressed and to the point
Synonym:  happy.s.04
Synonym:  happy.s.04

In [3]:
word = 'furniture'

synsets = wn.synsets(word)

for synset in synsets:

    hyponyms = synset.hyponyms()

    for hyponym in hyponyms:

        print('Hyponym: ', hyponym.name(), '-', hyponym.definition())

    hypernyms = synset.hypernyms()

    for hypernym in hypernyms:

        print('Hypernym: ', hypernym.name(), '-', hypernym.definition())

        hypernym_paths = hypernym.hypernym_paths()
        print('Hypernym Hierarchy')
        print(' -> '.join(synset.name() for synset in hypernym_paths[0]))

Hyponym:  baby_bed.n.01 - a small bed for babies; enclosed by sides to prevent the baby from falling
Hyponym:  bedroom_furniture.n.01 - furniture intended for use in a bedroom
Hyponym:  bedstead.n.01 - the framework of a bed
Hyponym:  bookcase.n.01 - a piece of furniture with shelves for storing books
Hyponym:  buffet.n.01 - a piece of furniture that stands at the side of a dining room; has shelves and drawers
Hyponym:  cabinet.n.01 - a piece of furniture resembling a cupboard with doors and shelves and drawers; for storage or display
Hyponym:  chest_of_drawers.n.01 - furniture with drawers for keeping clothes
Hyponym:  dining-room_furniture.n.01 - furniture intended for use in a dining room
Hyponym:  etagere.n.01 - a piece of furniture with open shelves for displaying small ornaments
Hyponym:  fitment.n.01 - any of the items furnishing or equipping a room (especially built-in furniture)
Hyponym:  hallstand.n.01 - a piece of furniture where coats and hats and umbrellas can be hung; usually has a mirror
Hyponym:  lamp.n.02 - a piece of furniture holding one or more electric light bulbs
Hyponym:  lawn_furniture.n.01 - furniture intended for use on a lawn or in a garden
Hyponym:  nest.n.05 - furniture pieces made to fit close together
Hyponym:  office_furniture.n.01 - furniture intended for use in an office
Hyponym:  seat.n.03 - furniture that is designed for sitting on
Hyponym:  sectional.n.01 - a piece of furniture made up of sections that can be arranged individually or together
Hyponym:  sheraton.n.01 - a furniture style that originated in England around 1800; simple in design with straight lines and classical ornamentation
Hyponym:  sleeper.n.07 - a piece of furniture that can be opened up into a bed
Hyponym:  table.n.02 - a piece of furniture having a smooth flat top that is usually supported by one or more vertical legs
Hyponym:  table.n.03 - a piece of furniture with tableware for a meal laid out on it
Hyponym:  wall_unit.n.01 - a piece of furniture having several units that stands against one wall of a room
Hyponym:  wardrobe.n.01 - a tall piece of furniture that provides storage space for clothes; has a door and rails or hooks for hanging clothes
Hyponym:  washstand.n.01 - furniture consisting of a table or stand to hold a basin and pitcher of water for washing: `wash-hand stand' is a British term
Hypernym:  furnishing.n.02 - (usually plural) the instrumentalities (furniture and appliances and other movable accessories including curtains and rugs) that make a home (or other area) livable
Hypernym Hierarchy
entity.n.01 -> physical_entity.n.01 -> object.n.01 -> whole.n.02 -> artifact.n.01 -> instrumentality.n.03 -> furnishing.n.02

In [4]:
word = 'door'

synsets = wn.synsets(word)

for synset in synsets:	

    holonyms = synset.member_holonyms()

    for holonym in holonyms:

        print('Holonym: ', holonym.name(), '-', holonym.definition())

    meronyms = synset.part_meronyms()

    for meronym in meronyms:

        print('Meronym: ', meronym.name(), '-', meronym.definition())

Meronym:  lock.n.01 - a fastener fitted to a door or drawer to keep it firmly closed
Meronym:  casing.n.03 - the enclosing frame around a door or window opening
Meronym:  door.n.01 - a swinging or sliding barrier that will close the entrance to a room or building or vehicle
Meronym:  doorframe.n.01 - the frame that supports a door
Meronym:  doorsill.n.01 - the sill of a door; a horizontal piece of wood or stone that forms the bottom of a doorway and offers support when passing through a doorway

In [5]:
car = wn.synset('car.n.01')
sedan = wn.synset('sedan.n.01')
coupe = wn.synset('coupe.n.01')
motorcycle = wn.synset('motorcycle.n.01')
helicopter = wn.synset('helicopter.n.01')

# create entities and extract names and definitions
entities = [car, sedan, coupe, motorcycle, helicopter]
entity_names = [entity.name().split('.')[0] for entity in entities]
entity_definitions = [entity.definition() for entity in entities]

common_hypernyms = []

for entity in entities:

    # get pairwise lowest common hypernyms
    common_hypernyms.append([entity.lowest_common_hypernyms(compared_entity)[0].name().split('.')[0]
        for compared_entity in entities])

# build pairwise lower common hypernym matrix
common_hypernym_frame = pd.DataFrame(common_hypernyms,
                                        index=entity_names,
                                        columns=entity_names)

common_hypernym_frame

                      car          sedan          coupe     motorcycle  helicopter
car                   car            car            car  motor_vehicle     vehicle
sedan                 car          sedan            car  motor_vehicle     vehicle
coupe                 car            car          coupe  motor_vehicle     vehicle
motorcycle  motor_vehicle  motor_vehicle  motor_vehicle     motorcycle     vehicle
helicopter        vehicle        vehicle        vehicle        vehicle  helicopter

In [6]:
similarities = []

for entity in entities:

    # get pairwise similarities
    similarities.append([round(entity.path_similarity(compared_entity), 2)
        for compared_entity in entities])

# build pairwise similarity matrix
similarity_frame = pd.DataFrame(similarities, index=entity_names,
                                columns=entity_names)

similarity_frame

             car  sedan  coupe  motorcycle  helicopter
car         1.00   0.50   0.50        0.33        0.11
sedan       0.50   1.00   0.33        0.25        0.10
coupe       0.50   0.33   1.00        0.25        0.10
motorcycle  0.33   0.25   0.25        1.00        0.11
helicopter  0.11   0.10   0.10        0.11        1.00